.contenitore > div {
    color: yellow;
}

.contenitore + .citazione {
    font-size: 20px;
}

.contenitore ~ .citazione {
    text-transform: lowercase;
}

li {
    display: inline;
}

.blockText {
    display: block;
}

.nascosto {
    display: none;
}

.spostato {
    background-color: red;
    width: 200px;
    position: relative;
    left: 200px;
    top: 150px;
}

.menufisso {
    width: 200px;
    position: absolute;
    position: fixed;
    top: 100px;
    left:100px;
}

.contenitoreFloat {
    border: 1px solid red;
}

.floatingImage {
    float: left;
}

.testolungo {
    background-color: coral;
    font-size: 0.8em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;   
}

.bastafloat {
    clear: both;
}