.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexcontainer > div {
    width: 100px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.centered > div {
    height: 100px;
    background-color: red;
    color: white;
    margin: 0px;
    padding: 0px;
}


@media screen and (max-width: 1024px) {
    body {
        background-color: white;
    }
}