p {
    color: red;
}

div {
    color: blue;
    margin: 20px;
}

#finale {
    color: green;
    font-family: "arial", "sans";
    font-size: 22px;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
}

.citazione {
    background-color: darksalmon;
    text-align: center;
    line-height: 2.5em;
    padding: 15px;
}

a:link {
    color: pink;
}

a:visited {
    color: brown;
}

.citazione:hover {
    background-color: magenta;
}

div div {
    background-color: aqua;
}

div div div {
    background-color: #b2b2b2;
}

.contenitore > div {
    color: yellow;
}

.contenitore + .citazione {
    font-size: 20px;
}

.contenitore ~ .citazione {
    text-transform: lowercase;
}